<mat-card class="container">
  <h1>Filter by...</h1>
  <div>
      <div class="topmargin">
          <h2>category</h2>
          <!-- <mat-radio-group (change)="miningBuffer.emit($event.value || 0)">
              <mat-radio-button [value]="0" [checked]="true">Original</mat-radio-button>
              <mat-radio-button [value]="3">Buffer 3km</mat-radio-button>
              <mat-radio-button [value]="5">Buffer 5km</mat-radio-button>
              <mat-radio-button [value]="10">Buffer 10km</mat-radio-button>
          </mat-radio-group> -->
      </div>

      <div class="topmargin">
          <h2>date</h2>
          <!-- <mat-form-field appearance="fill">
              <mat-label>Select ethnic group</mat-label>
              <mat-select (selectionChange)="ethnicGroupId.emit($event.value || 1)">
                  <mat-option [value]="1">Bakongo Nord & Süd</mat-option>
                  <mat-option [value]="2">Bas-kasai et Kwilu-kwngo</mat-option>
                  <mat-option [value]="3">Basele-k, Man. Et Kivu</mat-option>
                  <mat-option [value]="4">Cuvette Central</mat-option>
                  <mat-option [value]="5">Kasai, Katanga, Tanganika</mat-option>
                  <mat-option [value]="6">Lunda</mat-option>
              </mat-select>
          </mat-form-field> -->
      </div>

      <div id="color-scale-legend" class="topmargin">
        <h2>number of interviews</h2>
      </div>

      <div class="topmargin">
        <h2>position</h2>
      </div>

      <div class="topmargin">
        <h2>company</h2>
      </div>
    

<!--       <div class="topmargin">
          <h2>Select type of conflict</h2>
          <mat-radio-group class="vertical">
              <mat-radio-button [value]="1" [checked]="true" class="vertpad">Original</mat-radio-button>
              <mat-radio-button [value]="2" class="vertpad">Buffer 1km</mat-radio-button>
              <mat-radio-button [value]="3" class="vertpad">Buffer 3km</mat-radio-button>
              <mat-radio-button [value]="4" class="vertpad">Buffer 3km</mat-radio-button>
          </mat-radio-group>
      </div> -->
  </div>

</mat-card>
